<% provide :title, t(".all_combo_product") %>
<div>
<h1><%= t(".all_combo_product") %></h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box no-header clearfix">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span><%= t ".combo_name" %></span></th>
                <th><span><%= t ".product_name" %></span></th>
              </tr>
            </thead>
              <tbody>
                <% @combo_products.each do |cp| %>
                  <tr>
                <th><span><%= cp.combo_name %></span></th>
                <th><span><%= cp.product_name %></span></th>
              </tr>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= paginate @combo_products, theme: Settings.theme_config %>
