<tr>
  <td><span><%= get_index_page user_counter %></span></td>
  <td><%= link_to user.name, user %></td>
  <td><span><%= user.phone %></span></td>
  <td><span><%= user.username %></span></td>
  <td><span><%= l user.created_at, format: :date_month_year_concise %></span></td>
  <td><span><%= l user.updated_at, format: :date_month_year_concise %></span></td>
  <td>
    <%= link_to user, class: "btn btn-info btn-sm" do %>
      <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_user_path(user), class: "btn btn-warning btn-sm" do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to user, method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" do %>
      <i class="fa fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
