<div class="table-responsive">
  <table class="table user-list">
    <thead>
      <tr>
        <th><span><%= t ".name" %></span></th>
        <th><span><%= t ".price" %></span></th>
        <th><span><%= t ".action" %></span></th>
      </tr>
    </thead>
      <tbody>
        <% @combos.each do |combo| %>
          <tr>
            <td>
              <%= link_to combo.name, combo %>
            </td>
            <td><span><%= combo.price %></span></td>
            <td>
              <%= form_for @bill_detail do |f| %>
                <%= f.hidden_field :type_detail, value: :combo %>
                <%= f.hidden_field :price, value: combo.price %>
                <%= f.hidden_field :count, value: Settings.count_auto %>
                <%= f.hidden_field :bill_id, value: params[:bill_id] %>
                <%= f.hidden_field :combo_id, value: combo.id %>
                <%= f.submit t(".add"), class: "btn btn-success btn-xs" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<%= paginate @combos, theme: Settings.theme_config, param_name: :combo, params: {selected: Settings.selected_combo} %>
