<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0 mb-4"><%= "#{@bill.table_number} - Anh(chị) #{@bill.name}" %></h6>
        <% if current_user.waiter? %>
          <%= link_to t(".payment"), payment_path(id: @bill), class: "btn btn-success btn-sm" %>
          <%= link_to t(".cancle"), @bill, method: :delete,
  data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0"><%= t "product_used" %></h6>
      </div>
      <div class="card-body d-flex py-0">
        <table class="table mb-0">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="border-0"><%= t ".stt" %></th>
              <th scope="col" class="border-0"><%= t ".name_product" %></th>
              <th scope="col" class="border-0"><%= t ".count" %></th>
              <th scope="col" class="border-0"><%= t ".price" %></th>
              <% if current_user.waiter? %>
                <th scope="col" class="border-0"><%= t ".action" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @bill_details.product.each_with_index do |bill_detail, key| %>
              <%= form_for bill_detail do |f| %>
                <tr>
                  <td><span><%= get_index_page("combo", key) %></span></td>
                  <td><span><%= bill_detail.product_name %></span></td>
                  <td class="w-70"><span>
                    <% if current_user.waiter? %>
                      <%= f.text_field :count, value: bill_detail.count, class: "form-control" %></span>
                    <% elsif current_user.chef? %>
                      <%= bill_detail.count %>
                    <% end %>
                  </td>
                  <td><span><%= bill_detail.price %> <%= Settings.unit %></span></td>
                  <% if current_user.waiter? %>
                    <td>
                      <%= link_to t(".delete"), bill_detail, method: :delete,
  data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" %>
                      <%= f.submit t(".submit"), class: "btn btn-warning btn-sm" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
    <div class="card card-small h-100">
      <div class="card-header border-bottom">
        <h6 class="m-0"><%= t "combo_used" %></h6>
      </div>
      <div class="card-body d-flex py-0">
        <table class="table mb-0">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="border-0"><%= t ".stt" %></th>
              <th scope="col" class="border-0"><%= t ".name_product" %></th>
              <th scope="col" class="border-0"><%= t ".count" %></th>
              <th scope="col" class="border-0"><%= t ".price" %></th>
              <% if current_user.waiter? %>
                <th scope="col" class="border-0"><%= t ".action" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @bill_details.combo.each_with_index do |bill_detail, key| %>
              <%= form_for bill_detail do |f| %>
                <tr>
                  <td><span><%= get_index key %></span></td>
                  <td><span><%= bill_detail.combo_name %></span></td>
                  <td class="w-70"><span>
                    <% if current_user.waiter? %>
                      <%= f.text_field :count, value: bill_detail.count, class: "form-control" %></span>
                    <% elsif current_user.chef? %>
                      <%= bill_detail.count %>
                    <% end %>
                  </td>
                  <td><span><%= bill_detail.price %> <%= Settings.unit %></span></td>
                  <% if current_user.waiter? %>
                    <td>
                    
                      <%= link_to t(".delete"), bill_detail, method: :delete,
  data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" %>
                      <%= f.submit t(".submit"), class: "btn btn-warning btn-sm" %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% if current_user.waiter? %>
    <%= render "product" %>
    <%= render "combo" %>
  <% end %>
</div>
