<% provide :title, t(".all_table") %>

<div class="row">
  <% @tables.each do |table| %>
    <% bill = get_bill table %>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <div class="table-information d-flex flex-column m-auto">
            <%= link_to bill.nil? ? bill_path(table.id) : bill_bill_details_path(bill.id),
  bill.nil? ? {"data-toggle": "modal", "data-target": "#add-bill", remote: true} : {} do %>
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase <%= bill.nil? ? "bg-success" : "bg-danger" %> " style="color: #fff"><%= table.number %></span>
                <h6 class="count my-3">
                  <%= bill.nil? ? "-" : bill.name %>
                </h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--increase">
                  <%= table.amount_chair %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  <% end %>
</div>

<div class="modal fade" id="add-bill">
  <div class="modal-dialog modal-dialog-centered width-80">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
      </div> 
    </div>
  </div>
</div>

<%= paginate @tables, theme: Settings.theme_config %>
