<% provide :title, t(".all_bill") %>

<div class="row">
  <div class="col">
    <div class="card card-small mb-4">
      <div class="card-header border-bottom">
        <%= t ".bill" %>
      </div>
      <div class="card-body p-0 pb-3 text-center">
        <table class="table user-list">
          <thead>
            <tr>
              <th><span><%= t ".name_customer" %></span></th>
              <th><span><%= t ".name_user" %></span></th>
              <th><span><%= t ".show" %></span></th>
            </tr>
          </thead>
            <tbody>
              <% @bills.each_with_index do |bill, key| %>
                <tr>
                  <td><%= get_index_page("page", key) %></td>
                  <td><%= bill.name %></td>
                  <td><%= bill.user_name %></td>
                  <td>
                    <%= link_to bill_bill_details_path(bill.id), class: "btn btn-info btn-sm" do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= paginate @bills, theme: Settings.theme_config %>
