<h3><%= t ".add_to_product" %></h3>
<% session[:forwarding_url] = request.original_url if request.get? %>
<%= form_for @combo_product do |f| %>
  <%= f.hidden_field :combo_id, value: @combo.id, class: "form-control mb-1" %>
  <%= f.label t ".product" %>
  <%= f.select :product_id, get_product(@products), {include_blank: t(".select_product")}, {class: "form-control"} %><br>

  <%= f.submit t(".submit"), class: "btn btn-primary mt-1" %>
<% end %>
