<% provide :title, t(".all_combo") %>
<div>
<h1><%= t(".all_combo") %></h1>
<%= link_to t(".add_combo"), new_combo_path %>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box no-header clearfix">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span><%= t ".name" %></span></th>
                <th><span><%= t ".price" %></span></th>
                <th><span><%= t ".status" %></span></th>
                <th><span><%= t ".action" %></span></th>
              </tr>
            </thead>
              <tbody>
                <% @combos.each do |combo| %>
                  <%= render combo %>
                <% end %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= paginate @combos, theme: Settings.theme_config %>
