<% provide :title, @combo.name %>
<div class="row">

  <aside class="col-md-12">
    <%= link_to t(".edit"), edit_combo_path(@combo) %> | 
    <%= link_to t(".list_combo"), combos_path %>
  </aside>

  <aside class="col-md-12 show-product">
    <section class="product_info">
      <h4 class="text-center"><%= t ".info" %></h4><hr>
      <table class="table user-list">
        <thead>
          <tr>
            <th><span><%= t ".name" %></span></th>
            <th><span><%= @combo.name %></span></th>
          </tr>
          <tr>
            <th><span><%= t ".price" %></span></th>
            <th><span><%= @combo.price %> <%= Settings.unit %></span></th>
          </tr>
          <tr>
            <th><span><%= t ".status" %></span></th>
            <th><%= @combo.allowed? ? t(".allowed") : t(".unallowed")  %></span></th>
          </tr>
        </thead>
      </table>
    </section>

    <section class="combo_info">
      <h4 class="text-center"><%= t ".product" %></h4><hr>
      <table class="table user-list">
        <thead>
          <tr>
            <th><span><%= t ".name" %></span></th>
            <th><span><%= t ".price" %></span></th>
            <th><span><%= t ".image" %></span></th>
            <th><span><%= t ".action" %></span></th>
          </tr>
        </thead>
          <tbody>
            <% @combo.products.each do |product| %>
              <tr>
                <th><span><%= product.name %></span></th>
                <th><span><%= product.price %> <%= Settings.unit %></span></th>
                <th><%= image_tag(product.image.url, class: "img-responsive") if product.image? %></th>
                <th><%= link_to t(".delete"), find_combo_product(@combo.id, product.id), method: :delete,
  data: { confirm: t(".sure") } %></th>
              </tr>
            <% end %>
          </tbody>
      </table>
    </section>
  </aside>

  <aside class="col-md-12 add-combo">
    <%= render "product_form" %>
  </aside>
</div>
