<h3><%= t ".add_to_combo" %></h3>
<%= form_for @combo_product do |f| %>
  <%= f.hidden_field :product_id, value: @product.id, class: "form-control mb-1" %>

  <%= f.label t ".combo" %>
  <%= f.select :combo_id, get_combo(@combos), {include_blank: t(".select_combo")}, {class: "form-control"} %><br>

  <%= f.submit t(".submit"), class: "btn btn-primary mt-1" %>
<% end %>
