<tr>
  <td><%= get_index_page product_counter %></td>
  <td><%= link_to product.name, product %></td>
  <td><span><%= product.price %></span></td>
  <td><span><%= product.allowed? ? t(".allowed") : t(".unallowed")  %></span></td>
  <td>
    <%= link_to product, class: "btn btn-info btn-sm" do %>
      <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to edit_product_path(product), class: "btn btn-warning btn-sm" do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to product, method: :delete, data: {confirm: t(".sure")}, class: "btn btn-danger btn-sm" do %>
      <i class="fa fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
