<% provide :title, t(".all_product") %>

<div class="row">
  <div class="col">
    <div class="card card-small mb-4">
      <div class="card-body p-0 m-3 text-left">
        <div class="row">
          <div class="col">
            <%= label_tag t(".find_by_name_product") %>
            <%= text_field_tag :name, params[:name].present? ? params[:name] : "", class: "form-control", placeholder: "#{t ".find_by_name_product"}", id: "find_by_name_product" %>
          </div>

          <div class="col">
            <%= label_tag t(".find_by_status_product") %>
            <%= select_tag :status, options_for_select(enum_options_for_select(Product, :status).insert(0, "")), class: "form-control", id: "find_by_status_product" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="list_product">
  <%= render "products/list_product" %>
</div>
