<% provide :title, @product.name %>
<div class="row">

  <aside class="col-md-12">
    <%= link_to t(".edit"), edit_product_path(@product) %> | 
    <%= link_to t(".list_product"), products_path %>
  </aside>

  <aside class="col-md-12 show-product">
    <section class="product_info">
      <h4 class="text-center"><%= t ".info" %></h4><hr>
      <table class="table user-list">
        <thead>
          <tr>
            <th><span><%= t ".name" %></span></th>
            <th><span><%= @product.name %></span></th>
          </tr>
          <tr>
            <th><span><%= t ".price" %></span></th>
            <th><span><%= @product.price %> <%= Settings.unit %></span></th>
          </tr>
          <tr>
            <th><span><%= t ".status" %></span></th>
            <th><%= @product.allowed? ? t(".allowed") : t(".unallowed")  %></span></th>
          </tr>
          <tr>
            <th><span><%= t ".image" %></span></th>
            <th><%= image_tag @product.image.url if @product.image? %></th>
          </tr>
        </thead>
      </table>
    </section>

    <section class="combo_info">
      <h4 class="text-center"><%= t ".combo" %></h4><hr>
      <table class="table user-list">
        <thead>
          <tr>
            <th><span><%= t ".name" %></span></th>
            <th><span><%= t ".price" %></span></th>
          </tr>
        </thead>
          <tbody>
            <% @product.combos.each do |combo| %>
              <tr>
                <th><span><%= combo.name %></span></th>
                <th><span><%= combo.price %> <%= Settings.unit %></span></th>
              </tr>
            <% end %>
          </tbody>
      </table>
    </section>
  </aside>

  <aside class="col-md-12 add-combo">
    <%= render "combo_form" %>
  </aside>
</div>
