<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render "layouts/shim" %>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <%= render "layouts/aside" %>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <%= render "layouts/main_navbar"%>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">

            <div class="page-header row no-gutters py-4">
              <div class="col-12">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
              </div>
            </div>

            <div id="update-success"></div>
            <!-- End Page Header -->

            <!-- content -->
            <%= yield %>
            <!-- End content -->

          </div>
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <%= render "layouts/footer" %>
          </footer>
        </main>
      </div>
    </div>
    <%= render "layouts/shim_footer" %>
  </body>
</html>